.gral-container{
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

div.btn-form{
	margin-top: 20px;
	text-align:center;
}

.react-bs-table {
	background: white;
}


.clear {clear:both;}
