@import "_variables";

.gral-container{
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

div.btn-form{
	margin-top: 20px;
	text-align:center;
}
div.btn-form button{
	margin-left: 10px;
	margin-right: 10px;
}

.react-bs-table {
	background: white;
}


.clear {clear:both;}

table td .botonera button{
	margin:0px 5px;
}

.d-inline{
	display: inline-block;
}

.msj_error{
	color: red;
	font-size: 13px;
	font-weight: bold;
}
.alert-penna{
	position: sticky;
    z-index : 100;
    width   : 100%;
    top     : 0px;
	font-weight: bold;
}

td.invalid input{
	border: 1px solid red;
}
